
* {
    font-family: FiraCode Nerd Font Propo;
    font-size: 11px;
    font-weight: bold;
}

#waybar {
    background-color: rgba(0, 0, 0, 0.7);
}

tooltip, tooltip * {
    color: #ffffff;
    text-shadow: 0 0 1px #ffffff;
    border: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}


.filemanager-gg,
.browser-gg,
.terminal-gg,
.power-gg,
.power-mod-gg,
#battery,
#cava,
#clock,
#cpu,
#custom-librewolf,
#custom-thunar,
#language,
#custom-power,
#idle_inhibitor,
#custom-linux,
#mpris,
#temperature.critical,
#temperature,
#custom-ghostty,
#hyprland-workspaces,
#hyprland-windows,
#memory,
#network,
#pulseaudio,
#mpd,
#tray,
#workspaces button.visible {
	color: #ffffff;
	margin-top: 2px;
	text-shadow: 0 0 1px #ffffff;
	border-bottom: 1px solid #ffffff;

}
#workspaces button {
	padding: 0;
	margin: 0;
	font-size: 10px;
	border-radius: 0px;
	border-bottom: 1px solid #ffffff;

}
#workspaces button.active {
    color: #ffffff;
    border-radius: 0px;
    text-shadow:
        0 0 1px #ffffff,
        0 0 2px #ffffff,
        0 0 3px #ffffff,
        0 0 6px #ffffff;
    	border-bottom: 1px solid #ffffff;
}

#workspaces button.urgent {
    color: #ff0000;
    text-shadow:
        0 0 1px #ff0000,
        0 0 2px #ff0000,
        0 0 3px #ff0000,
        0 0 4px #ff0000;
    border-bottom: 1px solid #ff0000;
}

#workspaces button.empty:not(.active):not(.visible):not(.urgent) {
    opacity: 0.6;
}
